kafka.schema.registry.url="http://localhost:8081"
kafka.bootstrap.servers="localhost:9092"
kafka.client.id="testInfo2"
kafka.topic.name="global.info.test.2"
kafka.key.serializer="io.confluent.kafka.serializers.KafkaAvroSerializer"
kafka.value.serializer="io.confluent.kafka.serializers.KafkaAvroSerializer"
kafka.security.protocol="SASL_SSL"
kafka.sasl.mechanism="GSSAPI"