schema.registry.url="http://localhost:8081"
bootstrap.servers="localhost:9092"
client.id="testInfo2"
topic.name="global.info.test.2"
key.serializer="io.confluent.kafka.serializers.KafkaAvroSerializer"
value.serializer="io.confluent.kafka.serializers.KafkaAvroSerializer"